.heading {
    font-weight: bold;
    color: rgb(0, 136, 204)
}

.article {
    text-align: justify;
}

div.section.level1>h1 {
    font-size: xx-large;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px
}

div.section.level1 {
    text-align: justify;
}

div.section.level2 {
    text-align: justify;
}

div.section.level3 {
    text-align: justify;
}

div.section.level2>h2 { 
    font-size: x-large;
    font-weight: bold;
    margin-top: 50px; 
    font-weight:bold;
    margin-bottom: 20px
}

div.section.level3>h3 { 
    font-size: large;
    font-weight: bold;
    text-align: justify; 
    margin-top: 50px; 
    font-weight:bold;
    margin-bottom: 20px
}

hr {
    height: 3px;
}

p.caption {
    padding-top: 0px;
    font-size: smaller;
    font-weight: bold
}

.logo {
    padding-bottom: 20px;
}

.docs-article-container {
    max-width: 100%; 
    top : 0px
}

.docs-search {
    visibility: hidden;
}

.docs-sidebar {
    border-right: 0px;
    min-width: 280px
}

table.infobox-content {
    table-layout: fixed;
    width: 100%;
}

td {
    width: 1%;
    padding: 100px;
}


.infobox {
    padding: 1em 2em 1em 3.5em;
    margin-bottom: 10px;
    border: 2px solid #3bf;
    border-radius: 10px;
    background: #f5f5f5 5px center/3em no-repeat;
}

div.cheat>h1 {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px
}

div.cheat>h3 { 
    font-size: large;
    font-weight: bold;
    text-align: justify; 
    margin-top: 5px; 
    margin-bottom: 20px
}

.cheat {
    padding: 1em 1em 1em 1em;
}
  
.warning {
    background-image: url("/img/warning.svg");
    background-position: top left;
}

.exercisebox {
    background-image: url("/img/book.svg");
    background-position: top left;
}

.curiosity {
    background-image: url("/img/bulb.svg");
    background-position: top left;
}

summary {
    font-weight: bold;
    color: rgb(0, 136, 204);
    background: white;
  }

details summary::-webkit-details-marker {
    background: white;
    color: rgb(0, 136, 204);
}

details {
    background: #f5f5f5;
    margin-bottom: 20px;
}

div.last-child>ul { margin-bottom: 0; padding-bottom: 0; }

div.last-child>ol { margin-bottom: 0; padding-bottom: 0; }