body { margin-top: 10%; margin-bottom: 10%; margin-right: 15%; margin-left: 15%;
font-family: "Times New Roman", Times, serif; text-align: justify;
font-size:22px; counter-reset:section;
}

#container { text-align: center; counter-reset:figures;
}

#exercises { counter-reset:exercises;
}

li {
    margin-bottom: 15px;
}

pre { 
    overflow-x:auto;
    margin-top: 0px;
    margin-bottom:0px;
}

h1 { text-align: center; margin-top: 50px; font-size:40px;
}

h2 { text-align: justify; margin-top: 50px; font-size:28px; counter-reset:
subsection;
}

h2:before { counter-increment:section; content:counter(section) ". ";
    }

h3:before { counter-increment:subsection; content:counter(section) "." counter(subsection) " ";
        }

.logo { display: block; margin-left: auto; margin-right: auto; width: 30%
}

.body-image { margin-top: 40px; margin-bottom: 40px; display: block;
margin-left: auto; margin-right: auto;
}

.exercisebox {background-color: rgba(0, 99, 166, 0.2) ; padding: 10px ; border: 1px solid rgb(0, 99, 166)
; counter-increment:exercises;

} .exercisebox:before { font-weight: bold; content: 'Exercise '
counter(exercises) '.  ';
}

.reltables { width: 90%; margin-left: auto; margin-right: auto; border: 5px
solid black; padding: 25px; margin: 25px;
}

ol.queryitem { counter-reset: item; margin-left: 0; padding-left: 0; }
li.queryitem { display: block; margin-bottom: .5em; margin-left: 2em; }
li.queryitem::before { display: inline-block; content: "Q" counter(item) ".";
counter-increment: item; width: 2em; margin-left: -2em;
}

ul.warning{
    list-style: none;
}
li.warning::before {
    content: "\261B"; 
    color:#0063A6;
    font-weight: bold;
    padding-right: 10px;
    font-size: xx-large ;
}

ul.exercise{
    list-style: none;
}

li.exercise::before {
    content: "\270D"; 
    color:#0063A6;
    font-weight: bold;
    padding-right: 10px;
    font-size: xx-large ;
}

ul.rtfm{
    list-style: none;
}

li.rtfm::before {
    content: "\1F4D6"; 
    color:#0063A6;
    font-weight: bold;
    padding-right: 10px;
    font-size: xx-large ;
}

ul.raise{
    list-style: none;
}

li.raise::before {
    content: "\270B"; 
    color:#0063A6;
    font-weight: bold;
    padding-right: 10px;
    font-size: xx-large ;
}

ul.test{
    list-style: none;
}

li.test::before {
    content: "\1f52c"; 
    color:#0063A6;
    font-weight: bold;
    padding-right: 10px;
    font-size: xx-large ;
}

figcaption { margin: 10px 0 0 0; font-variant: small-caps; font-family: Arial;
font-weight: bold; color: #000000; counter-increment: figures;
}

figcaption:before { content: 'Fig. ' counter(figures) ' - ';
}

figure { padding: 5px;
}
