body {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 10%;
  margin-left: 10%;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  font-size:22px;
  counter-reset:section;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size:40px;
}

h2 {
  text-align: justify;
  margin-top: 50px;
  font-size:28px;
}

h2:before
    {
    counter-increment:section;
    content:counter(section) ". ";
    }

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%
}

.body-image {
  margin-top: 40px;
  margin-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.reltables {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black;
  padding: 25px;
  margin: 25px;
}

ol.queryitem {
  counter-reset: item;
  margin-left: 0;
  padding-left: 0;
}
li.queryitem {
  display: block;
  margin-bottom: .5em;
  margin-left: 2em;
}
li.queryitem::before {
  display: inline-block;
  content: "Q" counter(item) ".";
  counter-increment: item;
  width: 2em;
  margin-left: -2em;
}
